dependency-reduced-pom.xml
portal-api-definitions-web/templfile
.DS_Store
TAGS
target
test-output
logs
.project
.classpath
.settings
*.log
/bin/
*.iml
*.zip
.idea/*
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles
!.idea/inspectionProfiles/portal-api-definitions.xml
!.idea/inspectionProfiles/profiles_settings.xml
!.idea/fileTemplates
!.idea/fileTemplates/code/*
!.idea/fileTemplates/includes/*
!.idea/fileTemplates/internal/*
!.idea/fileTemplates/j2ee/*
!.idea/runConfigurations
